@using TravelTripProje.Models.Siniflar
@model List<iletisim>
@{
    ViewBag.Title = "iletisim";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>İletişim Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad Soyad</th>
        <th>Mail</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AdSoyad</td>
            <td>@x.Mail</td>
            <td>@x.Konu</td>
            <td>@x.Mesaj</td>
            <td><a href="/Admin/iletisimsil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/iletisimGetir/@x.ID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>

